/* From Uiverse.io by santosh-sarkar */
.toggle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms, color 200ms;
  line-height: 0.1;
  width: 20px;
  height: 20px;
}

.icon--moon {
  /* color: #b4b4b4; */
}

.icon--sun {
  /* color: #ffa500; */
  scale: 1.1;
}
